
<app-hero></app-hero>
<app-projects></app-projects>
<app-about></app-about>
<div class="container">
    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam commodo lacus consectetur sodales aliquet. Phasellus in egestas tortor, id egestas sem. Donec ac vulputate justo. In hac habitasse platea dictumst. Integer tincidunt porttitor tellus, eget luctus ante facilisis ac. Maecenas rhoncus lorem quis ultrices volutpat. Sed in viverra risus, sed vulputate diam. Sed pulvinar est ut magna dictum, sit amet luctus sapien molestie. Nulla ac convallis ligula, ac faucibus justo. Proin lacus lacus, congue eu faucibus suscipit, maximus eu tellus. Phasellus eget risus tincidunt, pretium enim nec, facilisis metus. Aliquam eleifend orci a fringilla aliquet. Vivamus efficitur bibendum neque a efficitur.</p>

</div>
<app-contact></app-contact>